node_modules/
dist/
.env
*.log

# backend
backend/data.sqlite
backend/data.sqlite-shm
backend/data.sqlite-wal
backend/uploads/*
!backend/uploads/.gitkeep
backend/terabox_storage/*
!backend/terabox_storage/.gitkeep
.next
